<nav class="navbar">
    <div class="nav-container">
        <div class="nav-logo">
            <a href="/" style="text-decoration: none; color: #828282"
                ><b><i>JEIBLOSSOM ₍ᐢ. .ᐢ₎</i></b></a
            >
        </div>
        <ul class="nav-menu">
            <li class="nav-item">
                <a href="/" class="nav-link" data-page="home">HOME</a>
            </li>
            <li class="nav-item">
                <a href="/pages/about.html" class="nav-link" data-page="about"
                    >ABOUT ME</a
                >
            </li>
            <li class="nav-item">
                <a
                    href="/pages/illustration.html"
                    class="nav-link"
                    data-page="illustration"
                    >ILLUSTRATION</a
                >
            </li>
            <li class="nav-item">
                <a
                    href="/pages/graphic-design.html"
                    class="nav-link"
                    data-page="graphic-design"
                    >GRAPHIC DESIGN</a
                >
            </li>
            <li class="nav-item">
                <a
                    href="/pages/contact.html"
                    class="nav-link"
                    data-page="contact"
                    >CONTACT</a
                >
            </li>
        </ul>
        <div class="hamburger">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
    </div>
</nav>
